.skill-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top {
  height: 20%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  flex-grow: 1; /* take remaining space */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
background: linear-gradient(to bottom, white 50%, black 30%);

}

.bottom {
  height: 20%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-image {
  max-width: 100%;
  height: auto; /* keep natural aspect ratio */
  max-height: 100%;
}
